{% extends "base.html" %}

{% block 'titulo' %}Listar{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'conteudo' %}

  <h1>Alterar Dados</h1>
  <hr>
  
  <form method="POST" action="{% url 'alterar' id %}"> {% csrf_token %}
    <label>Nome:</label>
    <input class="form-control" type="text" name="nome" placeholder="Alterar nome...">
    <br>
    <label>Email:</label>
    <input class="form-control" type="email" name="email" placeholder="Alterar email...">
    <br>
    <label>Senha:</label>
    <input class="form-control" type="password" name="senha" placeholder="Alterar senha...">
    <br>
    Administrador
    <input type="radio" name="cargo" value="1">
    Cliente
    <input type="radio" name="cargo" value="2">
    <br><br>
    <button class="btn btn-primary" type="submit">Alterar</button>
  </form>
{% endblock  %}