{% extends "base.html" %}

{% block 'titulo' %}Listar{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'conteudo' %}

  <h1>Listar</h1>
  <hr>
  <form method="POST" action="{% url 'listar' %}"> {% csrf_token %}
    <br>
    <input type="text" name="nome" placeholder="Pesquisar por nome...">
    <input type="text" name="email" placeholder="Pesquisar por email...">
    <button type="submit">Buscar</button>
  </form>
  <br>

  <h3>Resultado da busca:</h3>
    <hr>
    {% for pessoa in pessoas %}
      <h4>Nome: {{pessoa.nome}}</h4>
      <h4>Email: {{pessoa.email}}</h4>
      <h4>Status: {{pessoa.cargo}}</h4>

      <a method="POST" href="{% url 'alterar' pessoa.id %}" class="btn btn-primary">Alterar</a>
      <a method="POST" href="{% url 'excluir' pessoa.id %}" class="btn btn-danger">Excluir</a>
      <hr>
    {% endfor %}

{% endblock  %}