{% extends "base.html" %}

{% block 'titulo' %}Cadastrar{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'conteudo' %}
   
  <h1>Cadastre-se</h1>
  <hr>

  <form method="POST" action="{% url 'cadastro' %}"> {% csrf_token %}
    <label>Nome:</label>
    <input class="form-control" type="text" placeholder="Digite seu nome" name="nome">
    <br>
    <label>Email:</label>
    <input class="form-control" type="email" placeholder="Digite seu email" name="email">
    <br>
    <label>Senha:</label>
    <input class="form-control" type="password" placeholder="Digite sua senha" name="senha">
    <br>
    Administrador
    <input type="radio" name="cargo" value="1">
    Cliente
    <input type="radio" name="cargo" value="2">
    <br><br>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <br><br>
  </form>
  
{% endblock %}