{% extends "base.html" %}
{% load static %}

{% block 'titulo' %}Minha Página{% endblock %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'css/css.css' %}">
{% endblock %}

{% block 'conteudo' %}
  <div class="container">
    <br>
    <img width="8%" src="{% static 'img/django.png' %}">
    <h1 align="center">Cadastre-se</h1>
    <hr>

    <form method="POST" action="{% url 'cadastro' %}"> {% csrf_token %}
      <p>Nome:</p>
      <input class="form-control" type="text" placeholder="Digite seu nome" name="nome">
      <br>
      <p>Email:</p>
      <input class="form-control" type="email" placeholder="Digite seu email" name="email">
      <br>
      <p>Senha:</p>
      <input class="form-control" type="password" placeholder="Digite sua senha" name="senha">
      <br><br>
      <button type="submit" class="btn btn-sm btn-primary">Enviar</button>
      <br><br>
    </form>

    {% comment %} {% if status == '0' %}
      <div align="center" class="alert alert-success" role="alert">
        Usuário cadastrado com sucesso!
      </div>
    {% else %}
      {{'erro'}}
    {% endif %} {% endcomment %}
   
  </div>
{% endblock %}